<a href="https://colab.research.google.com/github/praveen311094/Praveen-Projects/blob/main/PySpark_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 18.9 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=a042c63893d31ae850d47b790143138889b779f301cd004d44f96aaccc716073
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [5]:
from pyspark.conf import SparkConf
from pyspark.context import SparkContext
conf = SparkConf()
conf.setMaster("local").setAppName("My app")

conf.get("spark.master")

conf.get("spark.app.name")

sc = SparkContext(conf=conf)
sc.master

sc.appName

sc.sparkHome is None

# SparkContext - Represents the connection to a Spark cluster
# Sparkconf is the class which gives you the various option to provide configuration parameters.

True

In [42]:
rdd1 = sc.textFile("/content/profile.txt")
rdd1.collect()

['praveen,2', 'praveen,3']

In [11]:
rdd2 = rdd1.map(lambda x: (x,len(x)))
rdd2.collect()

[('1-Name- Peddabudi Praveen Kumar', 31),
 ('2-Contact- 9502373797', 21),
 ('3-Email id- praveenpeddabudi@gmail.com', 38),
 ('4-Pan card No- DFUPP7592N', 25),
 ('5-TOTAL experience- 3 Years 10 Months ', 38),
 ('6-Relevant Experience- 15 Months', 32),
 ('7-Highest Qualification- B.Tech', 31),
 ('8-Graduation University- JNTUH', 30),
 ('9-Post Graduation University- NA', 32),
 ('10-Current Organization- NA', 27),
 ('11-Previous Company- ONPASSIVE Technologies Private Limited', 59),
 ('12-Preferred Location- Hyderabad', 32),
 ('13-Current CTC- 2.5 LPA', 23),
 ('14-Expected CTC- Around 3.5-4 LPA', 33),
 ('15-Notice Period- Immediate Joiner', 34),
 ('16-Date Of Birth - October 31,1994', 34),
 ('17. Current Designation: Technical Support Engineer L1', 54),
 ('18. Current department : IT Services', 36),
 ('19. Hometown: Hyderabad', 23)]

In [12]:
rdd2 = rdd1.map(lambda x:x.split(" "))
rdd2.collect()

[['1-Name-', 'Peddabudi', 'Praveen', 'Kumar'],
 ['2-Contact-', '9502373797'],
 ['3-Email', 'id-', 'praveenpeddabudi@gmail.com'],
 ['4-Pan', 'card', 'No-', 'DFUPP7592N'],
 ['5-TOTAL', 'experience-', '3', 'Years', '10', 'Months', ''],
 ['6-Relevant', 'Experience-', '15', 'Months'],
 ['7-Highest', 'Qualification-', 'B.Tech'],
 ['8-Graduation', 'University-', 'JNTUH'],
 ['9-Post', 'Graduation', 'University-', 'NA'],
 ['10-Current', 'Organization-', 'NA'],
 ['11-Previous',
  'Company-',
  'ONPASSIVE',
  'Technologies',
  'Private',
  'Limited'],
 ['12-Preferred', 'Location-', 'Hyderabad'],
 ['13-Current', 'CTC-', '2.5', 'LPA'],
 ['14-Expected', 'CTC-', 'Around', '3.5-4', 'LPA'],
 ['15-Notice', 'Period-', 'Immediate', 'Joiner'],
 ['16-Date', 'Of', 'Birth', '-', 'October', '31,1994'],
 ['17.', 'Current', 'Designation:', 'Technical', 'Support', 'Engineer', 'L1'],
 ['18.', 'Current', 'department', ':', 'IT', 'Services'],
 ['19.', 'Hometown:', 'Hyderabad']]

In [48]:
rdd2 = rdd1.map(lambda x:x.split(","))
rdd2.collect()

[['praveen', '2'], ['praveen', '3']]

In [16]:
rdd2 = rdd1.flatMap(lambda x:x.split(" "))
rdd2.collect()

['1,',
 'Arun,',
 '11',
 '2,',
 'Bisu,',
 '12',
 '3,',
 'chic,',
 '31',
 '4,',
 'delo,',
 '23']

In [23]:
rdd4 = rdd1.map(lambda x:x.split(" "))
rdd4.collect()

[['1,', 'Arun,', '11'],
 ['2,', 'Bisu,', '12'],
 ['3,', 'chic,', '31'],
 ['4,', 'delo,', '23']]

In [17]:
rdd3 = rdd1.map(lambda x:x.split(",")[2])
rdd3.collect()

[['1', ' Arun', ' 11'],
 ['2', ' Bisu', ' 12'],
 ['3', ' chic', ' 31'],
 ['4', ' delo', ' 23']]

In [18]:
rdd3 = rdd1.map(lambda x:int(x.split(",")[2]))  # to know max no
rdd3.max()

31

In [24]:
rdd5 = rdd1.flatMap(lambda y:y.split(" "))
rdd5.collect()

['1-Name-',
 'Peddabudi',
 'Praveen',
 'Kumar',
 '2-Contact-',
 '9502373797',
 '3-Email',
 'id-',
 'praveenpeddabudi@gmail.com',
 '4-Pan',
 'card',
 'No-',
 'DFUPP7592N',
 '5-TOTAL',
 'experience-',
 '3',
 'Years',
 '10',
 'Months',
 '',
 '6-Relevant',
 'Experience-',
 '15',
 'Months',
 '7-Highest',
 'Qualification-',
 'B.Tech',
 '8-Graduation',
 'University-',
 'JNTUH',
 '9-Post',
 'Graduation',
 'University-',
 'NA',
 '10-Current',
 'Organization-',
 'NA',
 '11-Previous',
 'Company-',
 'ONPASSIVE',
 'Technologies',
 'Private',
 'Limited',
 '12-Preferred',
 'Location-',
 'Hyderabad',
 '13-Current',
 'CTC-',
 '2.5',
 'LPA',
 '14-Expected',
 'CTC-',
 'Around',
 '3.5-4',
 'LPA',
 '15-Notice',
 'Period-',
 'Immediate',
 'Joiner',
 '16-Date',
 'Of',
 'Birth',
 '-',
 'October',
 '31,1994',
 '17.',
 'Current',
 'Designation:',
 'Technical',
 'Support',
 'Engineer',
 'L1',
 '18.',
 'Current',
 'department',
 ':',
 'IT',
 'Services',
 '19.',
 'Hometown:',
 'Hyderabad']

In [45]:
rdd5 = rdd1.flatMap(lambda y:y.split(","))  # To Find desired output in file
rdd6 = rdd5.filter(lambda x: x == "praveen")
rdd6.collect()
#Resilient Distributed dataset-Contains transformations

['praveen', 'praveen']

In [52]:
# how to create RDD using list or tuple
rdd1 = sc.parallelize(((1,"jan", 2023),(2, "feb",2023),(18,"mar",2023)))
rdd2 = sc.parallelize(((3,"jan", 2023),(21, "feb",2023)))
rdd3 = sc.parallelize(((4,"apr", 2023),(18, "mar",2023),(18,"dec",2023)))
# rdd1.collect()
res_rdd = rdd1.union(rdd2)
res_rdd.collect()

[(1, 'jan', 2023),
 (2, 'feb', 2023),
 (18, 'mar', 2023),
 (3, 'jan', 2023),
 (21, 'feb', 2023)]

In [56]:
res_rdd.saveAsTextFile("Outputdata")

In [55]:
res22 = rdd1.intersection(rdd3)
res22.collect()

[(18, 'mar', 2023)]

In [53]:
res_rdd = rdd1.union(rdd2).union(rdd3)
res_rdd.collect()

[(1, 'jan', 2023),
 (2, 'feb', 2023),
 (18, 'mar', 2023),
 (3, 'jan', 2023),
 (21, 'feb', 2023),
 (4, 'apr', 2023),
 (18, 'mar', 2023),
 (18, 'dec', 2023)]

In [57]:
res4 = res_rdd.distinct()
res4.collect()

[(2, 'feb', 2023),
 (21, 'feb', 2023),
 (4, 'apr', 2023),
 (18, 'dec', 2023),
 (1, 'jan', 2023),
 (18, 'mar', 2023),
 (3, 'jan', 2023)]

In [61]:
mylist = [(1,2,31),(1,22,11),(1,22,2),(1,22,54)]
rdd1 = sc.parallelize(mylist)
rdd1.collect()

[(1, 2, 31), (1, 22, 11), (1, 22, 2), (1, 22, 54)]

In [62]:
rdd1.sortBy(lambda x:x[2]).collect()

[(1, 22, 2), (1, 22, 11), (1, 2, 31), (1, 22, 54)]

In [63]:
rdd1.sortBy(lambda x:x[2], False).collect() # Descending

[(1, 22, 54), (1, 2, 31), (1, 22, 11), (1, 22, 2)]

In [64]:
mylist = [(10,2),(1,22),(7,22),(11,22)]
rdd2 = sc.parallelize(mylist)
rdd2.sortByKey().collect()

[(1, 22), (7, 22), (10, 2), (11, 22)]

In [65]:
res3 = sc.textFile("/content/profile.txt")
res3.collect()

['1,23,4500', '2,21,1000', '3,24,600', '4,23,4000', '5,21,2000']

In [70]:
get_data = res3.map(lambda x:x.split(","))
resf = get_data.map(lambda x:(int(x[1]),int(x[2])))
resf.reduceByKey(lambda x,y:x+y).collect()

[(23, 8500), (21, 3000), (24, 600)]