In [4]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\prave\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pymysql
pymysql.install_as_MySQLdb()

In [18]:
from sqlalchemy import create_engine
my_conn = create_engine("mysql+mysqldb://root:1234@localhost/bank_marketing")

In [19]:
bank=pd.read_csv("C:/Users/prave/Downloads/bank_mrktng.csv")# CSV file reading
df=pd.DataFrame(data=bank)
print(df)
df.to_sql(con=my_conn,name='bank', if_exists='append',index=False)

       age           job   marital  education  default  balance  housing  \
0       58    management   married   tertiary        0     2143        1
1       44    technician    single  secondary        0       29        1
2       33  entrepreneur   married  secondary        0        2        1
3       47   blue-collar   married    unknown        0     1506        1
4       33       unknown    single    unknown        0        1        0
...    ...           ...       ...        ...      ...      ...      ...
45206   51    technician   married   tertiary        0      825        0
45207   71       retired  divorced    primary        0     1729        0
45208   72       retired   married  secondary        0     5715        0
45209   57   blue-collar   married  secondary        0      668        0
45210   37  entrepreneur   married  secondary        0     2971        0

       loan    contact  duration  campaign poutcome  y
0         0    unknown       261         1  unknown  0
1         0    unknown       151         1  unknown  0
2         1    unknown        76         1  unknown  0
3         0    unknown        92         1  unknown  0
4         0    unknown       198         1  unknown  0
...     ...        ...       ...       ...      ... ..
45206     0   cellular       977         3  unknown  1
45207     0   cellular       456         2  unknown  1
45208     0   cellular      1127         5  success  1
45209     0  telephone       508         4  unknown  0
45210     0   cellular       361         2    other  0

[45211 rows x 13 columns]

45211

In [20]:
bank_data=pd.read_csv("C:/Users/prave/Downloads/bank cleaned data.csv")# CSV file reading
df=pd.DataFrame(data=bank_data)
print(df)
df.to_sql(con=my_conn,name='bank_data', if_exists='append',index=False)

       Unnamed: 0  age           job   marital  education default  balance  \
0               0   58    management   married   tertiary      no     2143
1               1   44    technician    single  secondary      no       29
2               2   33  entrepreneur   married  secondary      no        2
3               3   47   blue-collar   married    unknown      no     1506
4               4   33       unknown    single    unknown      no        1
...           ...  ...           ...       ...        ...     ...      ...
45206       45206   51    technician   married   tertiary      no      825
45207       45207   71       retired  divorced    primary      no     1729
45208       45208   72       retired   married  secondary      no     5715
45209       45209   57   blue-collar   married  secondary      no      668
45210       45210   37  entrepreneur   married  secondary      no     2971

      housing loan    contact  day month  duration  campaign  pdays  previous  \
0         yes   no    unknown    5   may       261         1     -1         0
1         yes   no    unknown    5   may       151         1     -1         0
2         yes  yes    unknown    5   may        76         1     -1         0
3         yes   no    unknown    5   may        92         1     -1         0
4          no   no    unknown    5   may       198         1     -1         0
...       ...  ...        ...  ...   ...       ...       ...    ...       ...
45206      no   no   cellular   17   nov       977         3     -1         0
45207      no   no   cellular   17   nov       456         2     -1         0
45208      no   no   cellular   17   nov      1127         5    184         3
45209      no   no  telephone   17   nov       508         4     -1         0
45210      no   no   cellular   17   nov       361         2    188        11

      poutcome    y
0      unknown   no
1      unknown   no
2      unknown   no
3      unknown   no
4      unknown   no
...        ...  ...
45206  unknown  yes
45207  unknown  yes
45208  success  yes
45209  unknown   no
45210    other   no

[45211 rows x 18 columns]

45211